body {
  font-family: 'Roboto', sans-serif;
}

body nav img {
  border-radius: 50% !important;
  
 
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'CA Kometo', sans-serif;
  color: #1b3071;
}

.navbar-brand {
  font-family: 'CA Kometo', sans-serif;
}

.jumbotron {
  background-color:#f4831c !important;
}


.section-title {
  margin-bottom: 40px;
}

section #lista li {
  list-style: none;
}

section .card-body {
  max-height: 500rem;
  align-items: center;
  
  
}

.card-title {
  font-family: 'CA Kometo', sans-serif;
}

.my-5 h2 {
  margin-bottom: 60px;
}

.my-5 .row {
  display: flex;
  justify-content: center;
  text-align: center;
  
}

footer {
  background-color: #1b3071 ;
}

footer p, footer a
{
  color: white;
  }
  
  /* Formulário de Contato */
  form {
  max-width: 600px;
  margin: 0 auto;
  }
  
  /* Ícones de Serviços */
  .fa-3x {
  color: #1b3071;
  }
  
  /* Botão Principal */
  .btn-primary {
  background-color: #1b3071;
  border-color: #1b3071;
  }
  
  .btn-primary
  {
  background-color: #1b3071;
  border-color: #1b3071;
  }
  
  /* Cores Adicionais */
  .bg-primary {
  background-color: #1b3071 !important;
  }
  
  .bg-dark {
  background-color: #f4831c !important;
  }
  
  .text-primary {
  color: #1b3071 !important;
  }
  
  .text-dark {
  color: #333333 !important;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
  .jumbotron {
  padding: 100px 20px;
  }
  }
  